body {
    background-color: antiquewhite;
    font-family: 'Oswald', sans-serif;
}

.navbar-brand {
    margin-left: 60px;
}

#signInBtn {
    margin-right: 60px;
}

.d-flex, #basketBtn  {
    margin-right: 16px;
}

.navbar-dark .navbar-toggler {
    color: antiquewhite;
    border-style: none;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 1em;
    margin-right: auto;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-toggler:hover {
    color: rgb(141, 2, 31);
}

.container-fluid {
    justify-content: space-between;
}

.nav-link {
    color: antiquewhite;
    margin-left: 60px;
}

.navbar-nav .nav-item .nav-link {
    color: antiquewhite;
}

.navbar-nav .nav-item .nav-link:hover {
    color: rgb(141, 2, 31);
}

.dropdown-item:hover {
    color: rgb(141, 2, 31);
    background-color: transparent;
}

.dropdown-item:active {
    background-color: rgb(141, 2, 31);
    color: antiquewhite;
}

.dropdown-menu {
    background-color: antiquewhite;
    width: fit-content;
    margin-left: 60px;
}

.btn {
    color: antiquewhite;
    border-style: none;
    background-color: rgb(40, 40, 40);
}

.btn:hover {
    background-color: rgb(141, 2, 31);
    border-color: rgb(141, 2, 31);
}

.btn:active {
    border-color: rgb(141, 2, 31);
}

.btn:focus {
    box-shadow: none;
    background-color: transparent;
    color: antiquewhite;
}

.btn:focus:hover {
    background-color: rgb(141, 2, 31);
}

header {
    background-image: url(../images/mountain-978569_1920.png);
    background-position: center;
    background-size:cover;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 101px;
    /* identical to box height */
    text-align: center;

    color: rgb(141, 2, 31);
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: normal;
    /* identical to box height */
    text-align: center;

    color: rgb(40, 40, 40);
}

h3 {
    font-family: 'Oswald', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 101px;
    /* identical to box height */
    text-align: center;
    
    color: rgb(141, 2, 31);
    }

h4 {
    border-bottom: rgb(141, 2, 31) solid 2px;
    padding-bottom: 10px;
}

table {
    text-align: center;
    align-items: center;
    margin: auto;
    margin-top: 3em;
    margin-bottom: 3em;
}

#carouselExampleIndicators {
    height: 50%;
    width: 60%;
    margin: auto;
    position: relative;
}

.row {
    margin: auto;
    margin-top: 3em;
    margin-bottom: 5em;
    width: 900px;
}

footer {
    /*background-image: url(../images/mountain-978569_1920\(ancientwhite\).png);
    background-position: center;
    background-size: cover;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));*/
    background-color: rgb(40, 40, 40);
    background-size: cover;
    position: relative;
    bottom:0;
    width:100%;
    
}

footer div ul {
    color: antiquewhite;
    list-style-type: none;
}

hr {
    color: antiquewhite;
}

.container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 1rem;
}

@media (max-width: 768px) {

    .navbar {
        display: block;
    }
    
    h1 {
        font-size: 32px;
        margin:auto;
        height: 65px;
        text-align: center;
        line-height: 101px;
    }

    h2 {
        font-size: 20px;
        margin:auto;
        height: 65px;
        text-align: center;
        line-height: normal;
    }

    header {
        margin: auto;
        height: auto;
        text-align: center;
    }

    .navbar-brand {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

    .d-inline-block {
        height: 30px;
        width: 30px;
    }

    #signInBtn {
        margin-right: 0.5em;
       
    }
   
    nav span {
        display: none;
    }

    .navbar .container-fluid {
        display: block;
    }

    .btn {
        margin-top: 5px;
    }

    .d-flex .form-control {
        margin-top: 5px;
        width: 100%;
    }

    h3 {
        text-align: center;
    }

    .form-control, .form-select {
        width: auto;
    }

    .row {
        width: auto;
    }

    footer {
        display: block;
        bottom:0;
        width:100%;
    }

    footer .container {
        display: block;
        text-align: center;
        margin: auto;
    }

    footer div {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    footer div ul {
        padding-left: 0;
    }

    footer .container img {
        width: 100px;
        height: 100px;
        align-items: center;
        text-align: center;
        margin: auto;
    }

    table {
        width: fit-content;
    }

}