body {
  background-color: antiquewhite;
  font-family: 'Oswald', sans-serif;
}

.navbar-brand {
  margin-left: 60px;
}

#signInBtn {
  margin-right: 60px;
}

.d-flex, #basketBtn {
  margin-right: 16px;
}

.navbar-dark .navbar-toggler {
  color: antiquewhite;
  border-style: none;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: 1em;
  margin-right: auto;
}

.navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-toggler:hover {
  color: #8d021f;
}

.container-fluid {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-link {
  color: antiquewhite;
  margin-left: 60px;
}

.navbar-nav .nav-item .nav-link {
  color: antiquewhite;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #8d021f;
}

.dropdown-item:hover {
  color: #8d021f;
  background-color: transparent;
}

.dropdown-item:active {
  background-color: #8d021f;
  color: antiquewhite;
}

.dropdown-menu {
  background-color: antiquewhite;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: 60px;
}

.btn {
  color: antiquewhite;
  border-style: none;
  background-color: #282828;
}

.btn:hover {
  background-color: #8d021f;
  border-color: #8d021f;
}

.btn:active {
  border-color: #8d021f;
}

.btn:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  color: antiquewhite;
}

.btn:focus:hover {
  background-color: #8d021f;
}

header {
  background-image: url(../images/mountain-978569_1920.png);
  background-position: center;
  background-size: cover;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 101px;
  /* identical to box height */
  text-align: center;
  color: #8d021f;
}

h2 {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: normal;
  /* identical to box height */
  text-align: center;
  color: #282828;
}

h3 {
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 101px;
  /* identical to box height */
  text-align: center;
  color: #8d021f;
}

h4 {
  border-bottom: #8d021f solid 2px;
  padding-bottom: 10px;
}

h5 {
  border-bottom: #8d021f solid 2px;
  padding-bottom: 10px;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

table {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  margin-top: 3em;
  margin-bottom: 3em;
}

#carouselExampleIndicators {
  width: 60%;
  margin: auto;
  position: relative;
}

.row {
  margin: auto;
  margin-top: 1em;
  margin-bottom: 5em;
  width: 900px;
}

footer {
  /*background-image: url(../images/mountain-978569_1920\(ancientwhite\).png);
    background-position: center;
    background-size: cover;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));*/
  background-color: #282828;
  background-size: cover;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer div ul {
  color: antiquewhite;
  list-style-type: none;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1rem;
}

.accordion-flush .accordion-item .accordion-button {
  background: rgba(141, 2, 31, 0.15);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

[class$="body"] {
  background-color: antiquewhite;
}

.accordion-item {
  background-color: antiquewhite;
  border: none;
}

.accordion {
  /*margin-left: 60px;
    margin-top: 3em;
    margin-bottom: 3em;
    margin-right: 3em;*/
  margin: auto;
  margin-bottom: 3em;
  padding: 1em;
}

.accordion-button {
  margin-top: 1em;
}

.accordion-button:not(.collapsed) {
  color: #8d021f;
}

.accordion-item:last-of-type .accordion-button.collapsed {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#image1 {
  margin: auto;
  width: 70%;
}

.img {
  text-align: center;
  padding: 1em;
}

#print-here ul {
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1em;
}

#print-here ul li {
  list-style-type: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

@media (max-width: 768px) {
  .navbar {
    display: block;
  }
  .accordion {
    margin: auto;
    margin-bottom: 1em;
    margin-top: 1em;
  }
  .accordion-button {
    margin-top: 0.5em;
  }
  h1 {
    font-size: 32px;
    margin: auto;
    height: 65px;
    text-align: center;
    line-height: 101px;
  }
  h2 {
    font-size: 20px;
    margin: auto;
    height: 65px;
    text-align: center;
    line-height: normal;
  }
  header {
    margin: auto;
    height: auto;
    text-align: center;
  }
  .navbar-brand {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }
  .d-inline-block {
    height: 30px;
    width: 30px;
  }
  #signInBtn {
    margin-right: 0.5em;
  }
  nav span {
    display: none;
  }
  .navbar .container-fluid {
    display: block;
  }
  .btn {
    margin-top: 5px;
  }
  .d-flex .form-control {
    margin-top: 5px;
    width: 100%;
  }
  h3 {
    text-align: center;
  }
  .form-control, .form-select {
    width: auto;
  }
  .row {
    width: auto;
  }
  footer {
    display: block;
    bottom: 0;
    width: 100%;
  }
  footer .container {
    display: block;
    text-align: center;
    margin: auto;
  }
  footer div {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  footer div ul {
    padding-left: 0;
  }
  footer .container img {
    width: 100px;
    height: 100px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin: auto;
  }
  table {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
}
/*# sourceMappingURL=styles.css.map */